{% extends 'base.html' %}

{% block content %}
    <!-- method="POST" betekent dat de data wordt verstuurd naar de server (niet zichtbaar in de URL) -->
    <!-- action="/cadtegorie/toevoegen" betekent naar welke route de data wordt gestuurd als je op verzenden klikt -->

    <div class="container categorie_formulier_opmaak">
        <div class="card p-4">
            <h2>Categorie toevoegen</h2>
            <form method="POST" action="/categorie/toevoegen">
                {{ categorie_form.hidden_tag() }}
                {{ categorie_form.naam.label }} {{ categorie_form.naam }}
                {{ categorie_form.beschrijving.label }} {{ categorie_form.beschrijving }} <br>
                {{ categorie_form.submit() }}
            </form>
        </div>
    </div>

{% endblock %}