{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="/categorie/toevoegen">

    <!-- method="POST" betekent dat de data wordt verstuurd naar de server (niet zichtbaar in de URL) -->
    <!-- action="/cadtegorie/toevoegen" betekent naar welke route de data wordt gestuurd als je op verzenden klikt -->

    {{ categorie_form.hidden_tag() }}
    {{ categorie_form.naam.label }} {{ categorie_form.naam }}
    {{ categorie_form.beschrijving.label }} {{ categorie_form.beschrijving }}
    {{ categorie_form.submit() }}
    </form>

{% endblock %}