{% extends 'base.html' %}
{% block content %}

<div class="container text-center index_opmaak">
    <h1>Welkom bij Takenlijst</h1>
    <p>Beheer je taken en categorieën op één plek.</p>
    <a href="/taak/toevoegen" class="btn btn-primary btn-lg">Taak toevoegen</a>
    <a href="/categorie/toevoegen" class="btn btn-primary btn-lg">Categorie toevoegen</a>
    <a href="/overzicht" class="btn btn-primary btn-lg">Taakoverzicht</a>
    <a href="/categorie/overzicht" class="btn btn-primary btn-lg">Categorieoverzicht</a>
</div>

{% endblock %}
