{% extends 'base.html' %}

{% block content %}
    <!-- method="POST" betekent dat de data wordt verstuurd naar de server (niet zichtbaar in de URL) -->
    <!-- action="/taak/toevoegen" betekent naar welke route de data wordt gestuurd als je op verzenden klikt -->

    <div class="container taak_formulier_opmaak">    <!-- de laatste is costum class! -->
        <div class="card p-4">           
            <h2>Taak toevoegen</h2>
            <form method="POST" action="/taak/toevoegen">
                {{ form.hidden_tag() }}
                {{ form.titel.label }} {{ form.titel }}
                {{ form.beschrijving.label }} {{ form.beschrijving }} <br>
                {{ form.categorie.label }} {{ form.categorie }} <br>
                {{ form.submit() }}
            </form>
        </div>
    </div>

{% endblock %}